pre, code {
    font-family: var(--font-mono);
}

:not(pre) > code {
    padding: .2em .3em;
    border-radius: 2px;
    background: var(--grey-xlight);
}

pre {
    padding: 1em 1.3em;
    border-radius: 5px;
    background: var(--grey-xlight);
}