button {
    --display-colour: var(--colour-dark);

    display: block;

    background: var(--solid-light);
    color: var(--display-colour);
    border: 2px solid var(--display-colour);

    padding: .7em 1em;

    font-family: var(--font-header);
    text-align: center;
    font-weight: bold;

    margin: .6em 0;

    cursor: pointer;

    border-radius: 5px;

    &:hover, &:focus {
        --display-colour: var(--colour);
    }

    &:active {
        --display-colour: var(--colour-light);
    }

    &.button-icon::before {
        font-family: icofont;
        font-weight: normal;
        content: attr(data-icon);

        display: inline-block;
        margin-right: .7em;
    }

    &.filled {
        background: var(--display-colour);
        color: white;
        border-color: var(--solid-light);
        box-shadow: 1px 1px 3px var(--grey-dark-opac77);
    }

    &.full-width {
        width: 100%;
    }
}

input[type=text],
input[type=password],
input[type=email],
input[type=url],
input[type=tel],
input[type=color],
input[type=number] {
    --display-colour: var(--grey-mid);

    display: block;

    background: var(--solid-light);
    color: var(--solid-dark);
    border: 2px solid var(--display-colour);

    padding: .4em .6em;

    margin: .6em 0;

    &:hover, &:focus {
        --display-colour: var(--grey-light);
    }

    &:focus {
        background: var(--grey-xlight);
    }

    &.full-width {
        width: calc(100% - 1.2em - 4px);
    }
}

.input-label {
    --display-colour: var(--grey-mid);

    display: flex;

    padding-left: .5em;
    line-height: 2;

    color: var(--solid-dark);
    background: var(--solid-light);

    border: 2px solid var(--display-colour);

    margin: .6em 0;

    font-family: var(--font-header);
    font-weight: bold;

    cursor: text;

    user-select: none;

    &::before {
        content: attr(data-label);
        line-height: 2em;
    }

    &:hover {
        --display-colour: var(--grey-light);
    }

    &.icon {
        font-family: icofont;
        font-weight: normal;

        padding-left: .3em;

        input {
            margin-left: 0;
            border-left: none;
        }
    }

    input {
        border: none;
        border-left: 2px solid var(--grey-light);
        margin: 0 0 0 .5em;

        font-family: var(--font-body);

        display: inline-block;

        width: 100%;
    }

    &.error {
        --display-colour: #ff4236;
    }
}

input.error, button.error, .input-label.error {
    --display-colour: #ff4236 !important;

    &:hover, &:focus {
        --display-colour: #ff695f !important;
    }

    &:active {
        --display-colour: #ff9e9b !important;
    }
}

form {
    position: relative;

    &:not(.no-border) {
        margin: 1em;
        padding: .7em;
        border: 1px solid var(--colour-dark);
        border-radius: 5px;
    }

    h1, h2, h3, h4, h5, h6 {
        margin-bottom: 0;
    }

    :first-child {
        margin-top: 0;
    }

    :last-child {
        margin-bottom: 0;
    }

    .header {
        font-size: 1.4em;
        display: inline-block;

        &::after {
            content: "";

            width: 120%;
            height: 2px;

            margin-top: 3px;

            display: block;
            background: var(--grey-mid);
        }
    }

    &.has-submit-button {
        :nth-last-child(2) {
            max-width: calc(80% - .5em);
            margin-bottom: 0;
        }

        button.submit:last-child {
            position: absolute;
            right: -1px;
            bottom: -1px;

            width: 20%;

            border-top-right-radius: 0;
            border-bottom-left-radius: 0;
        }
    }
}